@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  margin: 0px;
  background: #B1EDE8;
  font-family: 'VT323', monospace, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.berghimg {
  width: 150px;
}

#dialog {
  border-radius: 5px;
  background: #FF6978;
  text-align: center;
  line-height:25px;
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}

#map {
  border: 2px #fffcf9 solid;
  height: 700px;
  width: 700px;
  margin: 10px auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-image: url(../images/background.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 45px;
}

.bergh {
  align-self: flex-start;
  padding: 150px 0 0 73px;
}

.burg {
  align-self: flex-end;
  padding: 0 70px 100px 0;
}

.image {
  height: 200px;
}

figcaption {
  text-align: center;
}

.game1 {
  border: 2px #fffcf9 solid;
  height: 700px;
  width: 700px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.flex1 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

p {
  text-align: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
}

.btn {
  padding: 20px;
}

#finalscreen {
  border: 2px #fffcf9 solid;
  height: 700px;
  width: 700px;
  margin: 10px auto;
  display: flex;
  background-image: url(../images/sven1.png);
  background-size: contain;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  background-position: center; 
}

h1, a {
  text-align: center;
}

h1 {
  font-size: 5em;
  color: #FF6978;
}

table {
  border:1px solid #FF6978;
  margin: 10px auto;
}

td {
  height: 30px;
  width: 30px;
  border:1px solid #fff;
  padding:0
}

td.personCell {
  background: url(../images/character.png);
  background-size: contain;
  background-repeat: no-repeat;
}

td.documentCell {
  background: url(../images/document.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.gameOver, .hide {
  text-align: center;
  margin-top: 200px;
}

#scoreBoard {
  float: left;
  width: 300px;
  padding-left: 20px;
  font-size: 3em;
}