body {
  margin: 0px 50px;
  background: #B1EDE8;
  font-family: 'VT323', monospace, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

table {
  margin:0 auto 10px auto;
  border:1px solid #ccc;
}

td {
  height: 30px;
  width: 30px;
  border:1px solid #fff;
  padding:0
}

td.snakeCell {
  background: url(character.png);
  background-size: contain;
  background-repeat: no-repeat;
}

td.documentCell {
  background: url(document.png);
  background-size: contain;
  background-repeat: no-repeat;
}
